<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Section</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/styles.css">

</head>
<body>
<style>
  @media (min-width: 1000px) and (max-width: 3000px) {
    .subscribe-btn{
        display: none;
    }
  }

</style>

<!-- second portion -->
  <div class="container" style="padding-top: 50px">
   <div class="d-flex">
     <img src="assets/images/green-vector.png" alt="Donkeys" style="margin-right: 10px">

     <h2 class="about-title" >Frequently Asked <br>Questions</h2>
   </div>
 
   <p class="about-text">
    Here are some frequently asked questions (FAQs)
   </p>
  </div>

<!--  -->

 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
