<div class="container mt-5">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-8">
        <h1>Welcome to Our Website</h1>
        <p>This is the home page content.</p>
      </div>
      <!-- Right Section with Image -->
      <div class="col-md-4 text-center">
        <img src="img/your-image.jpg" class="img-fluid" alt="Image">
        <div class="mt-3">
          <a href="contact.html" class="btn btn-primary">Contact</a>
          <a href="#" class="btn btn-success">Cart</a>
        </div>
      </div>
    </div>
  </div>
  