/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Slabo+27px&display=swap');
/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #212529;
}

/* Navbar Styles */
.navbar-brand {
    font-weight: bold;
}
.navbar{
    width: 90%;
    margin: 0 auto; /* Center the navbar */

}

/* Buttons Styling */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

/* Custom Spacing for Right Section */
.col-md-4.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nav-link {
    color: #1E1E1E; /* Adjust color as per your design */
    font-size: 16px;;
    font-weight: 500;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    font-family: "Slabo 27px", serif;

}



.home-link {
    background-color: #F7F3F0; /* Light circular background */
    color: #8B5E3C !important;
    border-radius: 50px; /* Creates a circular effect */
    width: 20px;

}



.logo {
    width: 380px; /* Adjust size of the logo */
    height: 143px;
    margin-right: 10px;
}


.bi-cart {
    font-size: 1.2rem;
    color: #6a4b3f; /* Adjust icon color */
    margin-left: 10px;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bi-cart {
    font-size: 1.5rem;
    color: #000;
    position: relative; /* Important for the badge positioning */
}

.badge {
    font-size: 10px;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8B5E3C;
    color: #fff;
    border-radius: 50%;
    transform: translate(-2%, -2%); /* Adjusts the position over the icon */
}
.bg-brown {
    background-color: #8B5E3C;
    color: #fff;
}

@media (max-width: 1000px) {
    .hide-below-1000 {
        display: none !important;
    }
}
@media (min-width: 1000px) and (max-width: 3000px) {
    .dropdown{
        display: none;
    }
  }

  .dropdown-item{
    color: #777777; /* Adjust color as per your design */
    font-size: 16px;;
    font-weight: 500;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    font-family: "Open Sans", sans-serif;

  }

  .home-menu{
    color: #91A366 !important;
  }
  .dropdown-menu{
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* X-offset, Y-offset, blur radius, color */

  }.navicon {
    color: #8B5E3C !important; /* Change to your desired color */
    font-size: 30px;
    background: #F1F1F1; padding: 3px; border-radius: 4px;
  }
  