/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #212529;
}

/* Navbar Styles */
.navbar-brand {
    font-weight: bold;
}
.navbar{
    width: 90%;
    margin: 0 auto; /* Center the navbar */

}

/* Buttons Styling */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

/* Custom Spacing for Right Section */
.col-md-4.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nav-link {
    color: #1E1E1E; /* Adjust color as per your design */
    font-size: 16px;;
    font-weight: 500;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    font-family: "Slabo 27px", serif;
    font-size: 16px;;

}






.logo {
    width: 380px; /* Adjust size of the logo */
    height: 143px;
    margin-right: 10px;
}


.bi-cart {
    font-size: 1.2rem;
    color: #6a4b3f; /* Adjust icon color */
    margin-left: 10px;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bi-cart {
    font-size: 1.5rem;
    color: #000;
    position: relative; /* Important for the badge positioning */
}

.badge {
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8B5E3C;
    color: #fff;
    border-radius: 50%;
    transform: translate(-2%, -2%); /* Adjusts the position over the icon */
}
.bg-brown {
    background-color: #8B5E3C;
    color: #fff;
}

@media (max-width: 1000px) {
    .hide-below-1000 {
        display: none !important;
    }
}
@media (min-width: 1000px) and (max-width: 3000px) {
    .dropdown{
        display: none;
    }
  }

  .dropdown-item{
    color: #777777; /* Adjust color as per your design */
    font-size: 16px;;
    font-weight: 500;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    font-family: "Open Sans", sans-serif;

  }

  .home-menu{
    color: #91A366 !important;
  }
  .dropdown-menu{
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* X-offset, Y-offset, blur radius, color */

  }.navicon {
    color: #8B5E3C !important; /* Change to your desired color */
    font-size: 30px;
    background: #F1F1F1; padding: 3px; border-radius: 4px;
  }
  .footer {
    position: relative;
    background-color: red ;
    color: #6c757d;
}

.footer-grass {
    height: 50px;
    background: url('assets/images/grass.png') repeat-x bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer a {
    color: #6c757d;
    transition: color 0.3s;
}

.footer a:hover {
    color: #85a86c !important;
}
.about-section {
    background-color: #f9f5ef; /* Light beige background */
    padding: 40px 20px;
    padding-bottom: 20% !important;

}

.about-title {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    white-space: nowrap;
    color: #91A366;
}

.about-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #0000007a;
    margin-top: 20px;
    line-height: 25px;
}

.read-more {
    color: #8b5e3c85; /* Brownish color for read more link */
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.read-more-two {
    color: #91A366; /* Brownish color for read more link */
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.read-more:hover {
    text-decoration: underline;
}

.about-image {
    width: 100%;
    border-radius: 8px;
}

.donkey-img-position{
    position: relative;
    margin-top: -18% !important; 
    width: 85%;
    margin: 0 auto;
}


@media (min-width: 200px) and (max-width: 1000px) {

    .navbar{
        width: 100%;
        margin: 0 auto; /* Center the navbar */
    
    }
    .nav-link {
        color: #1E1E1E; /* Adjust color as per your design */
        font-size: 16px;;
        font-weight: 500;
        margin-right: 10px;
        position: relative;
        display: inline-block;
        font-family: "Slabo 27px", serif;
    
    }
    .donkey-img-position{
        position: none !important;
        margin-top: 0% !important; 
        width: 100%;
        margin: 0 auto;
    }

    .about-section {
        background-color: #f9f5ef; /* Light beige background */
        padding: 40px 20px;
        padding-bottom: 5% !important;
    
    }

    .about-title {
        font-family: "Old Standard TT", serif;
        font-weight: 700;
        font-size: 25px;
        font-style: normal;
        white-space: nowrap;
        color: #91A366;
    }
    
    .about-text {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        color: #0000007a;
        margin-top: 20px;
        line-height: 20px;
    }
    
    .read-more {
        color: #a35e38; /* Brownish color for read more link */
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    .read-more-two {
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    

}

.feature-section {
    padding: 20px;
}
.feature-text {
    margin-top: 20px;
}
.feature-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.order-btn-overlap {
    position: absolute;
    top: -25px; /* Adjust to position vertically */
    right: 30px; /* Adjust to position horizontally */
    background-color: #91A366;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    z-index: 10; /* Ensure the button is above the image */
    width: 213px;
    height: 53px;
    border-radius: 52px;
}
.image-container {
    position: relative;
    display: inline-block; /* Ensure container wraps around the image and button */
}

.benefits-headings{
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
    white-space: nowrap;
    color: #91A366;
}

.benefits-sub{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #777777;
    margin-top: 20px;

}

.width-container{
    width: 85%;
    margin: 0 auto;
}

@media (min-width: 200px) and (max-width: 1000px) {
   
.width-container{
    width: 93%;
    margin: 0 auto;
}
    
.order-btn-overlap {
   display: none;
}

.benefits-headings{
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    white-space: nowrap;
    color: #91A366;
}

.benefits-sub{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: #777777;
    margin-top: 20px;

}
}

.subscribe-btn {
    background-color: #8a9e6e;
    color: white;
    border-radius: 30px;
    padding: 10px 0;
    border: none;
    width: 100%;
}


@media (min-width: 1000px) and (max-width: 3000px) {
    .subscribe-btn{
        display: none !important;
    }
  }


  .custom-location-modal .modal-content {
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: white !important;
}

.custom-location-modal .location-icon {
    background-color: #b5c69b;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.custom-location-modal .btn-confirm {
    background-color: #91A366 !important;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    width: 100%;
}

.custom-location-modal .btn-confirm:hover {
    background-color: #a5b58b;
}

.custom-location-modal .form-check-input:checked {
    background-color: #b5c69b;
    border-color: #b5c69b;
}

.custom-location-modal .form-check-label {
    margin-left: 10px;
    min-width: 100px;
    display: inline-block;
    text-align: left;
}
.dropdown-toggle::after{
    display: none !important;
}